<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>addStudent</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/student/all'}">All Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/student/addstudent'}">Add Student</a>
        </li>
    </ul>
    <form class="form-inline" th:action="@{get}" method="post" th:object="${student}">
        <input class="form-control mr-sm-2" type="text" th:name="id" placeholder="Search">
        <button class="btn btn-success" type="submit">Search By Id</button>
    </form>
</nav>

<div class="container">
    <div class="row">
        <h2>Add a student</h2>
        <form th:action="@{addstudent}" method="post" th:object="${student}">
            <h4>Student</h4>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="studentid">Id:</label>
                    <input type="text" class="form-control" id="studentid" placeholder="Enter id" th:field="*{id}">
                </div>
                <div class="col-sm-3">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}">
                </div>
                <div class="col-sm-3">
                    <label for="course">Course:</label>
                    <input type="text" class="form-control" id="course" placeholder="Enter course" th:field="*{course}">
                </div>
                <div class="col-sm-3">
                    <label for="course">Grade:</label>
                    <input type="text" class="form-control" id="grade" placeholder="Enter grade" th:field="*{grade}">
                </div>
            </div>
            <h4>Adress</h4>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country" placeholder="Enter country" th:field="${address.country}">
                </div>
                <div class="col-sm-4">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter city" th:field="${address.city}">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>



</div>
</body>
</html>